<app-navbar></app-navbar>
<!-- Section: Design Block -->

<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 125px;
        "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="text-primary w-bold mb-5">Authentication</h2>
          <div class="row">

          </div>

          <form name="form" (ngSubmit)="login(flogin)" #flogin="ngForm" novalidate>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" name="email" ngModel #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required placeholder="Email Address"
                class="form-control" />
            </div>
            <div *ngIf="email.touched">
              <p class="alert alert-danger p-2" role="alert" *ngIf="email.errors?.required">Email is a required field!</p>
              <p class="alert alert-danger p-2" role="alert" *ngIf="email.errors?.pattern">This is not a valid Email!!!</p>
            </div>

            <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  -->
            <div class="form-outline mb-4">
              <input type="password" name="password" ngModel #password="ngModel"   required placeholder="Password"
                class="form-control" />
            </div>
            <div *ngIf="password.invalid   && password.touched" class="alert alert-danger">
              <div *ngIf="password.errors.required"> Password is required. </div>
              <div *ngIf="password.errors.pattern"> Must contain at least one number and one uppercase and lowercase letter,
                  and at least 8 or more characters.</div>
          </div>
            <!-- Forgot Password link  -->
            <div class="form-outline mb-4" >
              Forgot Password ? <a [routerLink]="'/reset/password'" id="resetlink"> <i style="font-size: medium;" >Click here to reset your password </i></a>
            </div>

            <!-- Submit button -->
            <button type="submit" [disabled]="flogin.invalid" class="btn btn-primary btn-block mb-4" id="btnlogin">
              <span style="color:white;font-weight:bold">Login</span>
            </button>
            <!-- Register buttons -->
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
