<app-navbar></app-navbar>
<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
      background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
      height: 125px;
    "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
      margin-top: -100px;
      background: hsla(0, 0%, 100%, 0.8);
      backdrop-filter: blur(30px);
    ">
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="text-primary fw-bold mb-5">Signup Now</h2>
          <form name="form" (ngSubmit)="signup(fadd)" #fadd="ngForm" novalidate>

            <div class="input-group">
              <select class="form-select" value="-1" name="authority" ngModel #type="ngModel" (change)="changeOperation($event.target.value)" required>
                <option value="">select a authority</option>
                <option value="client" >Client</option>
                <option value="commercial" >Commercial</option>
                <option value="technician" >Technician</option>
              </select>
            </div>
            <div *ngIf="type.invalid && type.touched" class="alert alert-danger p-2" role="alert">
              <span>chos a opject</span>
            </div>

            <ng-container *ngIf="this.authority=='client'">

            <div class="row">
              <div class="col-md-12 mb-4">
                <div class="form-outline mb-4">
                  <input type="email" name="email" ngModel #email="ngModel" placeholder="Email address"
                    class="form-control" required />
                  <div *ngIf="email.invalid && email.touched" class="alert alert-danger p-2" role="alert">
                    Enter Email Address
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline mb-4">
                  <input type="password" name="password" id="password" placeholder="Password"  ngModel #password="ngModel" class="form-control"  required>
                  <div *ngIf="password.invalid && password.touched" class="alert alert-danger p-2" role="alert">
                    Enter Password
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline mb-4">
                  <input type="password" name="pass2" ngModel #pass2="ngModel" placeholder="Confirm Password"
                  class="form-control" required />
                  <div *ngIf="
                      (pass2.invalid && pass2.touched) ||
                      (pass.value != pass2.value && pass2.valid)
                    " class="alert alert-danger p-2" role="alert">
                    ne pas correspondre
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline mb-4">
                  <input type="text" ngModel #company="ngModel" name="company" placeholder="Company Name"
                    class="form-control" required />
                  <div *ngIf="company.invalid && company.touched" class="alert alert-danger p-2" role="alert">
                    Enter Company Name
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline mb-4">
                  <input type="text" name="terms" ngModel #terms="ngModel" placeholder="Terms"
                    class="form-control" required />
                  <div *ngIf="
                      (terms.invalid && terms.touched)
                    " class="alert alert-danger p-2" role="alert">
                    ne pas correspondre
                  </div>
                </div>
              </div>
            </div>
            <!--  -->

            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline mb-4">
                  <input type="text" name="type" ngModel #type="ngModel" placeholder="Type"
                    class="form-control" required />
                  <div *ngIf="type.invalid && type.touched" class="alert alert-danger p-2" role="alert">
                    Enter type
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline mb-4">
                  <!-- <input type="text" name="terms" ngModel #terms="ngModel" placeholder="Terms"
                  class="form-control" required /> -->
                  <input class="form-control textbox-n" type="date"
                  [placeholder]="'tetetetetet'" onkeydown="return false" name="endDate"
                  ngModel #endDate="ngModel" required
                  (click)="setinputtype($event,'endDate')" min="{{ this.actualDate | date: 'yyyy-MM-dd' }}" />
                    <div *ngIf="endDate.invalid && endDate.touched" class="alert alert-danger p-2" role="alert">
                      Enter End Date
                    </div>
                </div>
              </div>
            </div>

              <!--  -->

              <!-- contract contract -->
            <div class="row">
              <div class="col-md-12 mb-4">
                <div class="input-group date" id="datepicker">
                  <select class="form-select" aria-label="Default select example" name="sla" ngModel #sla="ngModel" placeholder="sls">
                    <option selected>Contract Type</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                  </select>
                </div>
              </div>
            </div>


            <!-- -->


            <button type="submit" [disabled]="fadd.invalid" class="btn btn-primary btn-block mb-4" id="btnconfirm">
              <span style="color:white;font-weight:bold">Confirm</span>
            </button>


          </ng-container>
          <ng-container *ngIf="this.authority=='commercial' || this.authority=='technician'">
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline mb-4">
                  <input type="text" ngModel #firstName="ngModel" name="firstName" placeholder="First Name "
                    class="form-control" required />
                  <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger p-2" role="alert">
                    Enter First Name
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline mb-4">
                  <input type="text" name="lastName" ngModel #lastName="ngModel" placeholder="Last Name"
                    class="form-control" required />
                  <div *ngIf="
                      (lastName.invalid && lastName.touched)
                    " class="alert alert-danger p-2" role="alert">
                    ne pas correspondre
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-4">
                <div class="form-outline mb-4">
                  <input type="email" name="email" ngModel #email="ngModel" placeholder="Email address"
                    class="form-control" required />
                  <div *ngIf="email.invalid && email.touched" class="alert alert-danger p-2" role="alert">
                    Enter Email Address
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline mb-4">
                  <input type="password" ngModel #pass="ngModel" name="password" placeholder="Password"
                    class="form-control" required />
                  <div *ngIf="pass.invalid && pass.touched" class="alert alert-danger p-2" role="alert">
                    Enter Password
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline mb-4">
                  <input type="password" name="pass2" ngModel #pass2="ngModel" placeholder="Confirm Password"
                    class="form-control" required />
                  <div *ngIf="
                      (pass2.invalid && pass2.touched) ||
                      (pass.value != pass2.value && pass2.valid)
                    " class="alert alert-danger p-2" role="alert">
                    ne pas correspondre
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 mb-4">
                <div class="form-outline mb-4">
                  <input class="form-control textbox-n" type="date"
                  [placeholder]="'tetetetetet'" onkeydown="return false" name="birthDate"
                  ngModel #birthDate="ngModel" required
                  (click)="setinputtype($event,'birthDate')" min="{{ this.actualDate | date: 'yyyy-MM-dd' }}" />
                    <div *ngIf="birthDate.invalid && birthDate.touched" class="alert alert-danger p-2" role="alert">
                      Enter End Date
                    </div>
                </div>
              </div>
            </div>

            <!--  -->



              <!--  -->

              <!-- contract contract -->



            <!-- -->


            <button type="submit" [disabled]="fadd.invalid" class="btn btn-primary btn-block mb-4" id="btnconfirm">
              <span style="color:white;font-weight:bold">Confirm</span>
            </button>


          </ng-container>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
