<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="text-center">
      <h6 class="section-title bg-white text-center text-primary px-3">Testemonies</h6>
      <h1 class="mb-5">

      </h1>
    </div>
    <div class="position-relative">
      <owl-carousel-o [options]="quotesOptions">

        <!-- <ng-container *ngFor="let quote of quotes"> -->
        <ng-container>
          <ng-template carouselSlide>
            <img class="border rounded-circle p-2 mx-auto mb-3" src="assets/img/testimonial-1.jpg" style="width: 80px; height: 80px;">
            <div class="testimonial-item text-center">
              <h5 class="mb-0">Victoria Adams</h5>
              <p>Creative Director</p>
              <div class="testimonial-text bg-light text-dark text-center p-4">
                <p class="mb-0">We had a record year this past year. Could we have done it without this plateform? I don't know how we would have.</p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <img class="border rounded-circle p-2 mx-auto mb-3" src="assets/img/testimonial-2.jpg" style="width: 80px; height: 80px;">
            <div class="testimonial-item text-center">
              <h5 class="mb-0">Graham Pugh</h5>
              <p>Co-founder</p>
              <div class="testimonial-text bg-light text-dark text-center p-4">
                <p class="mb-0">I found the platform so intuitive . I was easily able to do expenses tracking, bills tracking and invoice customers by sending emails to them.</p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <img class="border rounded-circle p-2 mx-auto mb-3" src="assets/img/testimonial-4.jpg" style="width: 80px; height: 80px;">
            <div class="testimonial-item text-center">
              <h5 class="mb-0">Carolina Ramirez</h5>
              <p>Owner</p>
              <div class="testimonial-text bg-light text-dark text-center p-4">
                <p class="mb-0">The competitive pricing of this platform and the user interface, it's just very user-friendly.
                  For someone in branding and marketing PR, that's important.</p>
              </div>
            </div>
          </ng-template>
        </ng-container>

      </owl-carousel-o>
    </div>
  </div>
</div>
