<div class="row mt-5">


    <ng-container *ngIf="this.role_users == 'admin'">


        <div class="col-md-6 col-xl-3">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-users-social bg-c-blue card1-icon"></i>
                    <span class="text-c-blue f-w-600">Total Employees </span>
                    <h4>{{this.nb_allEmployees}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-blue f-16 icofont icofont-arrow-up m-r-10"></i>Increased
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-architecture-alt bg-c-pink card1-icon"></i>
                    <span class="text-c-pink f-w-600">Technician</span>
                    <h4>{{this.nb_usersTechnisien}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-pink f-16 icofont icofont-settings-alt m-r-10"></i>work order
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-travelling bg-c-green card1-icon"></i>
                    <span class="text-c-green f-w-600">Commercial</span>
                    <h4>{{this.nb_usersCOMMERSIALE}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-green f-16 icofont icofont-tag m-r-10"></i>Commercial
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-company bg-c-yellow card1-icon"></i>
                    <span class="text-c-yellow f-w-600">Total Clients</span>
                    <h4>{{this.nb_usersClient}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-yellow f-16 icofont icofont-refresh m-r-10"></i>Just update
                        </span>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-6 col-xl-3">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-refrigerator bg-c-blue card1-icon"></i>
                    <span class="text-c-blue f-w-600">Total Contracts</span>
                    <h4>{{this.nbr_contra}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-blue f-16 icofont icofont-console m-r-10"></i>Last 24 hours
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-tasks bg-c-pink card1-icon"></i>
                    <span class="text-c-pink f-w-600">Total Work Orders</span>
                    <h4>{{this.nbr_workoederAll}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-pink f-16 icofont icofont-calendar m-r-10"></i>Planning
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-pause bg-c-green card1-icon"></i>
                    <span class="text-c-green f-w-600">WO In progress</span>
                    <h4>{{this.nbr_workoederInprogres}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-green f-16 icofont icofont-tag m-r-10"></i>Tracked via Employes

                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-unlock bg-c-yellow card1-icon"></i>
                    <span class="text-c-yellow f-w-600">WO Closed</span>
                    <h4>{{this.nbr_workoederDon}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-yellow f-16 icofont icofont-edit m-r-10"></i>success handled
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-check-alt bg-c-blue card1-icon"></i>
                    <span class="text-c-blue f-w-600">WO Accepted </span>
                    <h4>{{this.nbr_workoederValied}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-blue f-16 icofont icofont-thumbs-up m-r-10"></i>Increased
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-warning bg-c-pink card1-icon"></i>
                    <span class="text-c-pink f-w-600">WO Expired</span>
                    <h4>{{this.nbr_workoederExpired}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-pink f-16 icofont icofont-warning-alt m-r-10"></i>Time oute
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-ticket bg-c-green card1-icon"></i>
                    <span class="text-c-green f-w-600">Total Tickets</span>
                    <h4>{{this.nbr_tikets}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-green f-16 icofont icofont-tasks m-r-10"></i>Tickets
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-archive bg-c-yellow card1-icon"></i>
                    <span class="text-c-yellow f-w-600">WO Unhandled</span>
                    <h4>{{this.nbr_workoederUnhandled}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-yellow f-16 icofont icofont-recycle m-r-10"></i>Waiting
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </ng-container>
    <ng-container *ngIf="this.role_users == 'client'">

        <div class="col-md-6 col-xl-6">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-pause bg-c-blue card1-icon"></i>
                    <span class="text-c-blue f-w-600">Work Order In progress </span>
                    <h4>{{this.user_work_in_progres}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-blue f-16 icofont icofont-arrow-down m-r-10"></i> In progress
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-edit-alt bg-c-pink card1-icon"></i>
                    <span class="text-c-pink f-w-600">Work Order Closed</span>
                    <h4>{{this.user_work_don}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-pink f-16 icofont icofont-settings-alt m-r-10"></i>work order
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-6">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-check-circled bg-c-green card1-icon"></i>
                    <span class="text-c-green f-w-600">Work Order Valid</span>
                    <h4>{{this.user_work_valied}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-green f-16 icofont icofont-ui-check m-r-10"></i>Valid
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-6">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-warning bg-c-yellow card1-icon"></i>
                    <span class="text-c-yellow f-w-600">Work Order Expired</span>
                    <h4>{{this.user_work_orderexpired}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-yellow f-16 icofont icofont-refresh m-r-10"></i>Just update
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-12">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-ban bg-c-blue card1-icon"></i>
                    <span class="text-c-blue f-w-600">Unhandled Work Order</span>
                    <h4>{{this.user_work_unhandled}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-blue f-16 icofont icofont-warning-alt m-r-10"></i>Just update
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="this.role_users == 'technician'">
        <div class="col-md-6 col-xl-6">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-pause bg-c-blue card1-icon"></i>
                    <span class="text-c-blue f-w-600">Work Order In progress </span>
                    <h4>{{this.technisien_work_in_progres}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-blue f-16 icofont icofont-arrow-down m-r-10"></i> In progress
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-edit-alt bg-c-pink card1-icon"></i>
                    <span class="text-c-pink f-w-600">Work Order Closed</span>
                    <h4>{{this.technisien_work_don}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-pink f-16 icofont icofont-settings-alt m-r-10"></i>work order
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-6">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-check-circled bg-c-green card1-icon"></i>
                    <span class="text-c-green f-w-600">Work Order Valid</span>
                    <h4>{{this.technisien_work_valied}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-green f-16 icofont icofont-ui-check m-r-10"></i>Valid
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-6">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-warning bg-c-yellow card1-icon"></i>
                    <span class="text-c-yellow f-w-600">Work Order Expired</span>
                    <h4>{{this.technisien_work_orderexpired}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-yellow f-16 icofont icofont-refresh m-r-10"></i>Just update
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </ng-container>

    <ng-container *ngIf="this.role_users == 'commercial'">
        <div class="col-md-6 col-xl-6">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-pause bg-c-blue card1-icon"></i>
                    <span class="text-c-blue f-w-600">Part Order In progress </span>
                    <h4>{{this.technisien_work_in_progres}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-blue f-16 icofont icofont-arrow-down m-r-10"></i> In progress
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-edit-alt bg-c-pink card1-icon"></i>
                    <span class="text-c-pink f-w-600">Work Order Closed</span>
                    <h4>{{this.technisien_work_don}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-pink f-16 icofont icofont-settings-alt m-r-10"></i>work order
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-6">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-check-circled bg-c-green card1-icon"></i>
                    <span class="text-c-green f-w-600">Work Order Valid</span>
                    <h4>{{this.technisien_work_valied}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-green f-16 icofont icofont-ui-check m-r-10"></i>Valid
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-6">
            <div class="card widget-card-1">
                <div class="card-block-small">
                    <i class="icofont icofont-warning bg-c-yellow card1-icon"></i>
                    <span class="text-c-yellow f-w-600">Work Order Expired</span>
                    <h4>{{this.technisien_work_orderexpired}}</h4>
                    <div>
                        <span class="f-left m-t-10 text-muted">
                            <i class="text-c-yellow f-16 icofont icofont-refresh m-r-10"></i>Just update
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </ng-container>
    <!-- Statistics card start -->

    <!--  -->

    <!-- end div depart -->
</div>