<div class="row mt-5">






  <!-- Statistics card start -->
  <div class="col-md-12 col-xl-4">
    <div class="card widget-statstic-card">
      <div class="card-header">
        <div class="card-header-left">
          <h5>{{'DASHBOARD_COMPONENT.SALES'|translate}}</h5>
          <p class="p-t-10 m-b-0 text-c-blue"></p>
        </div>
      </div>
      <div class="card-block">
        <i class="icofont icofont-presentation-alt st-icon bg-c-blue"></i>

        <div class="text-left">
          <h3 class="d-inline-block">{{this.sales}}</h3>
          <!-- <i class="icofont icofont-long-arrow-up f-30 text-c-green"></i> -->
        </div>

      </div>
    </div>
  </div>
  <!-- Statistics card end -->
  <!-- Statistics card start -->
  <div class="col-md-6 col-xl-4">
    <div class="card widget-statstic-card">
      <div class="card-header">
        <div class="card-header-left">
          <h5>{{'DASHBOARD_COMPONENT.PURCHASES'|translate}}</h5>
          <p class="p-t-10 m-b-0 text-c-pink"></p>
        </div>
      </div>
      <div class="card-block">
        <i class="icofont icofont-users-social st-icon bg-c-pink txt-lite-color"></i>

        <div class="text-left">
          <h3 class="d-inline-block">{{this.purchases}}</h3>
          <!-- <i class="icofont icofont-long-arrow-down text-c-pink f-30 "></i> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Statistics card end -->
  <!-- Statistics card start -->
  <div class="col-md-6 col-xl-4">
    <div class="card widget-statstic-card">
      <div class="card-header">
        <div class="card-header-left">
          <h5>{{'DASHBOARD_COMPONENT.COMPANY_STATE'|translate}}</h5>
          <p class="p-t-10 m-b-0 text-c-yellow"></p>
        </div>
      </div>
      <div class="card-block">
        <i class="icofont icofont-chart-line st-icon bg-c-yellow"></i>

        <div class="text-left">
          <h3 class="d-inline-block">{{(this.sales-this.purchases).toFixed(2)}}</h3>
          <i [class]="(this.sales-this.purchases)>0?'icofont icofont-long-arrow-up text-c-green f-30':'icofont icofont-long-arrow-down text-c-green f-30' "></i>
        </div>
      </div>
    </div>
  </div>
  <!-- Statistics card end -->


  <!-- email Sent End -->
</div>
