<ng-container>
  <div class="page-header card" id="myheader">
    <div class="row align-items-end">
      <div class="col-lg-8">
        <div class="page-header-title">
          <span><i class="fas fa-user-tie" style="background-color: #000080"></i></span>
          <div class="d-inline">
            <span class="d-block text-primary">
              <h4>{{'PRODUCTS_SERVICES_COMPONENT.TITLE'|translate}}</h4>
            </span>
            <!-- <span class="text-dark">Products and Services Page</span> -->
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Page-header end -->

  <div class="row">
    <div class="col-lg-12">
      <div class="md-tabs">
        <ngb-tabset (tabChange)="changeState($event)">
          <ngb-tab [title]="'TABSET.PRODUCTS'|translate" [id]="1">
            <ng-template ngbTabContent>


              <div class="m-t-15">
                <div class="card">
                  <div class="col-sm-12">
                    <div class="card-header">
                      <h5 class="card-header-text">{{'PRODUCTS_SERVICES_COMPONENT.PRODUCTS.HEADER'|translate}}</h5>
                      <div class="container">
                        <div class="row">
                          <div class="col-md-12 col-lg-3 mt-5 mr-2">
                            <select class="form-select" value="0" (change)="changeOperation($event.target.value)">
                              <option value="0">{{'TRANSACTIONS_COMPONENT.SELECT.PURCHASES'|translate}}</option>
                              <option value="1">{{'TRANSACTIONS_COMPONENT.SELECT.SALES'|translate}}</option>
                            </select>
                          </div>
                          <div class="col-sm-1 mt-5 mr-2 ml-4">
                            <!-- <div class="pcoded-search-box"> -->
                              <button class="btn " (click)="OpenModal(this.operation==0?'NEW_PRODUCT_PURCHASE':'NEW_PRODUCT_SALE')">
                                <i class="icofont icofont-ui-add"></i>
                                {{'NEW'|translate}}
                              </button>
                            <!-- </div> -->
                          </div>
                        </div>
                      </div>



                    </div>
                    <div class="table-responsive">
                      <div style="margin-bottom: 50px; margin-left: 50px; margin-right: 50px;">
                        <table class="table table-hover">
                          <thead>
                            <tr style="text-align: center">
                              <th scope="col">
                                {{'PRODUCTS_SERVICES_COMPONENT.PRODUCTS.TABLE.NAME'|translate}}
                              </th>
                              <th scope="col">
                                {{'PRODUCTS_SERVICES_COMPONENT.PRODUCTS.TABLE.REF'|translate}}
                              </th>

                              <th scope="col">
                                {{'PRODUCTS_SERVICES_COMPONENT.PRODUCTS.TABLE.SUPPLIER_NAME'|translate}}
                              </th>
                              <!--   -->
                              <th scope="col">{{'ACTIONS'|translate}}</th>
                            </tr>
                          </thead>
                          <tbody *ngFor="let product of this.itemsList|slice">
                            <tr style="text-align: center">
                              <td scope="row">{{
                                product.name
                                }} </td>
                              <td scope="row"> {{
                                product.ref
                                }} </td>

                              <td scope="row"> {{
                                product.nom_suppliers
                                }} </td>

                              <td scope="row">
                                <i (click)="OpenModal(this.operation==0?'UPDATE_PRODUCT_PURCHASE':'UPDATE_PRODUCT_SALE',product)" class="fas fa-edit"></i>
                                <i (click)="deleteItem(product.id_product)" class="fa fa-trash-o ml-2"></i>
                                <i (click)="OpenDetails('PRODUCT_DETAILS',product)" class="fa fa-eye ml-2"></i>

                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="d-flex justify-content-between p-2">
                          <ngb-pagination [(page)]="page" (pageChange)="handlePageChange($event)" [pageSize]="pageSize"
                            [collectionSize]="collectionSize">
                          </ngb-pagination>
                          <select class="custom-select" style="width: auto" name="pageSize"
                            (change)="handlePageSizeChange($event)">
                            <option *ngFor="let size of pageSizes" [ngValue]="size">
                              {{ size }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <!-- </app-card> -->
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab [title]="'TABSET.SERVICES'|translate" [id]="2">
            <ng-template ngbTabContent>


              <div class="m-t-15">
                <div class="card">
                  <div class="col-sm-12">
                    <div class="card-header">
                      <h5 class="card-header-text">{{'PRODUCTS_SERVICES_COMPONENT.PRODUCTS.HEADER'|translate}}</h5>
                      <div class="container">
                        <div class="row">
                          <div class="col-md-12 col-lg-3 mt-5 mr-2">
                            <select class="form-select" value="0" (change)="changeOperation($event.target.value)">
                              <option value="0">{{'TRANSACTIONS_COMPONENT.SELECT.PURCHASES'|translate}}</option>
                              <option value="1">{{'TRANSACTIONS_COMPONENT.SELECT.SALES'|translate}}</option>
                            </select>
                          </div>
                          <div class="col-sm-1 mt-5 mr-2 ml-4">
                            <!-- <div class="pcoded-search-box"> -->
                              <button class="btn " (click)="OpenModal(this.operation==0?'NEW_SERVICE_PURCHASE':'NEW_SERVICE_SALE')">
                                <i class="icofont icofont-ui-add"></i>
                                {{'NEW'|translate}}
                              </button>
                            <!-- </div> -->
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="table-responsive">
                      <div style="margin-bottom: 50px; margin-left: 50px; margin-right: 50px;">
                        <table class="table table-hover">
                          <thead>
                            <tr style="text-align: center">
                              <th scope="col">
                                {{'PRODUCTS_SERVICES_COMPONENT.SERVICES.TABLE.NAME'|translate}}
                              </th>
                              <th scope="col">
                                {{'PRODUCTS_SERVICES_COMPONENT.SERVICES.TABLE.REF'|translate}}
                              </th>
                              <th scope="col">
                                {{'PRODUCTS_SERVICES_COMPONENT.PRODUCTS.TABLE.SUPPLIER_NAME'|translate}}
                              </th>
                              <th scope="col">{{'ACTIONS'|translate}}</th>
                            </tr>
                          </thead>
                          <tbody *ngFor="let service of this.itemsList|slice">
                            <tr style="text-align: center">
                              <td scope="row">{{
                                service.name
                                }} </td>
                              <td scope="row"> {{
                                service.ref
                                }} </td>
                              <td scope="row"> {{
                                service.nom_suppliers}}
                                </td>
                              <td scope="row">
                                <i (click)="OpenModal(this.operation==0?'UPDATE_SERVICE_PURCHASE':'UPDATE_SERVICE_SALE',service)" class="fas fa-edit"></i>
                                <i (click)="deleteItem(service.id_service)" class="fa fa-trash-o ml-2"></i>
                                <i (click)="OpenDetails('SERVICE_DETAILS',service)" class="fa fa-eye ml-2"></i>

                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="d-flex justify-content-between p-2">
                          <ngb-pagination [(page)]="page" (pageChange)="handlePageChange($event)" [pageSize]="pageSize"
                            [collectionSize]="collectionSize">
                          </ngb-pagination>
                          <select class="custom-select" style="width: auto" name="pageSize"
                            (change)="handlePageSizeChange($event)">
                            <option *ngFor="let size of pageSizes" [ngValue]="size">
                              {{ size }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <!-- </app-card> -->
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</ng-container>
