<ng-container>
    <div class="modal-header">
        <h4 class="modal-title">{{ this.title|translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">


        <ng-container *ngIf="this.type==='WORK_ORDER'">
            <form name="fedit" (ngSubmit)="onSubmit(fedit)" #fedit="ngForm" novalidate>
                <div class="input-group">
                    <select class="form-select" value="-1" name="employeeId" [(ngModel)]="this.payload.employeeId"
                        ngModel #employeeId="ngModel" required>
                        <option disabled value="">{{"Select a technician"}}</option>
                        <option *ngFor="let tech of this.listTechnician;" value="{{tech._id}}">
                            {{tech.firstName+" "+tech.lastName}}
                        </option>
                    </select>
                </div>
                <div *ngIf="employeeId.invalid && employeeId.touched" class="alert alert-danger p-2" role="alert">
                    <span>Select technician</span>
                </div>

                <div class="input-group">



                    <input type="text" class="form-control" [(ngModel)]="this.payload.title" [placeholder]="'Title'"
                        name="title" ngModel #title="ngModel" required />
                </div>
                <div *ngIf="title.invalid && title.touched" class="alert alert-danger p-2" role="alert">
                    <span>ENTER Title</span>
                </div>
                <div class="input-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1"
                        [(ngModel)]="this.payload.description" placeholder="Description" rows="2" name="description"
                        ngModel #description="ngModel" required></textarea>

                </div>
                <div *ngIf="description.invalid && description.touched" class="alert alert-danger p-2" role="alert">
                    <span>ENTER Description</span>
                </div>



                <div class="modal-footer">
                    <input [value]="'CONFIRM'|translate" [disabled]="fedit.invalid" type="submit"
                        class="btn btn-outline-primary" />
                    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">
                        {{'CANCEL'|translate}}

                    </button>
                </div>








            </form>
        </ng-container>




    </div>
</ng-container>