<ng-container>
  <div class="page-header card" id="myheader">
    <div class="row align-items-end">
      <div class="col-lg-8">
        <div class="page-header-title">
          <span><i class="fas fa-user-tie" style="background-color: #000080"></i></span>
          <div class="d-inline">
            <span class="d-block text-primary">
              <h4>{{'CUSTOMERS_COMPONENT.TITLE'|translate}}</h4>
            </span>
            <!-- <span class="text-dark">Customer Page</span> -->
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Page-header end -->

  <div class="row">
    <div class="col-lg-12">
      <div class="md-tabs">
        <div class="m-t-15">
          <div class="card">
            <div class="col-sm-12">
              <div class="card-header">
                <h5 class="card-header-text">{{'CUSTOMERS_COMPONENT.HEADER'|translate}}</h5>
                <div class="col-md-12 col-lg-3 offset-lg-10">
                  <div class="pcoded-search">
                    <div class="pcoded-search-box">
                      <button class="btn " (click)="OpenModal('NEW_CUSTOMER')">
                        <i class="icofont icofont-ui-add"></i>
                        {{'NEW'|translate}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <div style="margin-bottom: 50px; margin-left: 50px; margin-right: 50px;">
                  <table class="table table-hover">
                    <thead>
                      <tr style="text-align: center">
                        <th scope="col">
                          {{'CUSTOMERS_COMPONENT.TABLE.FULLNAME'|translate}}
                        </th>

                        <th scope="col">
                          {{'CUSTOMERS_COMPONENT.TABLE.COMPANY'|translate}}
                        </th>
                        <th scope="col">
                          {{'CUSTOMERS_COMPONENT.TABLE.PAYMENT_METHOD'|translate}}
                        </th>
                        <!--   -->
                        <th scope="col">{{'ACTIONS'|translate}}</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let customer of this.customersList|slice">
                      <tr style="text-align: center">
                        <td scope="row">{{
                          customer.fullname
                          }} </td>

                        <td scope="row"> {{
                          customer.company_name
                          }} </td>
                        <td scope="row"> {{
                          customer.payment_method
                          }} </td>
                        <td scope="row">
                          <i (click)="OpenModal('UPDATE_CUSTOMER',customer)" class="fas fa-edit"></i>
                          <i (click)="deleteCustomer(customer.id)" class="fa fa-trash-o ml-2"></i>
                          <i (click)="OpenDetails('CUSTOMER_DETAILS',customer)" class="fa fa-eye ml-2"></i>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [(page)]="page" (pageChange)="handlePageChange($event)" [pageSize]="pageSize"
                      [collectionSize]="collectionSize">
                    </ngb-pagination>
                    <select class="custom-select" style="width: auto" name="pageSize"
                      (change)="handlePageSizeChange($event)">
                      <option *ngFor="let size of pageSizes" [ngValue]="size">
                        {{ size }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- </app-card> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
