<div class="page-header card" id="myheader">
  <div class="row align-items-end">
    <div class="col-lg-8">
      <div class="page-header-title">
        <span><i class="fas fa-duotone fa-user" style="background-color: #000080"></i></span>
        <div class="d-inline">
          <span class="d-block text-primary">
            <h4>{{this.namCLient}}</h4>
          </span>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">

            <i class="icofont icofont-folder-open"></i>

          </li>
          <li class="breadcrumb-item">

            <a>{{this.folderName}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>







</div>
<div class="row mt-5">
  <!-- <div class="col-md-6 col-xl-4">
    <div class="card widget-statstic-card">
      <div class="card-header">
        <div class="card-header-left">
          <h5>Part Order</h5>
          <p class="p-t-10 m-b-0 text-c-yellow"></p>
        </div>
      </div>
      <div class="card-block">
        <i class="icofont icofont-memorial st-icon bg-c-yellow"></i>

        <div class="text-left">
          <h3 class="d-inline-block">{{this.ticket}}</h3>
        </div>
        <div class="text-right">
          <a [routerLink]="['/app/partOrderDetail', this.id]" class="d-inline-block">More details</a>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Statistics card start -->
  <div class="col-md-12 col-xl-6">
    <div class="card widget-statstic-card">
      <div class="card-header">
        <div class="card-header-left">
          <h5>Work Order</h5>
          <p class="p-t-10 m-b-0 text-c-blue"></p>
        </div>
      </div>
      <div class="card-block">
        <i class="icofont icofont-ticket st-icon bg-c-blue"></i>

        <div class="text-left">
          <h3 class="d-inline-block">{{this.workorder}}</h3>

          <!-- <i class="icofont icofont-long-arrow-up f-30 text-c-green"></i> -->
        </div>
        <div class="text-right">
          <a [routerLink]="['/app/workOrderDetail', this.id]" class="d-inline-block">More details</a>
          <!-- <i class="icofont icofont-long-arrow-up f-30 text-c-green"></i> -->
        </div>
        <!--    -->
      </div>
    </div>

  </div>


  <div class="col-md-12 col-xl-6">
    <div class="card widget-statstic-card">
      <div class="card-header">
        <div class="card-header-left">
          <h5>Work Order From Clients</h5>
          <p class="p-t-10 m-b-0 text-c-blue"></p>
        </div>
      </div>
      <div class="card-block">
        <i class="icofont icofont-ticket st-icon bg-c-blue"></i>
        <div class="text-left">
          <h3 class="d-inline-block">{{this.UnhandledWorkorder}}</h3>
        </div>
        <div class="text-right">
          <a [routerLink]="['/app/UnhandledWorkOrdersDetailAdmin', this.id]" class="d-inline-block">More details</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-6 col-xl-4">
    <div class="card widget-statstic-card">
      <div class="card-header">
        <div class="card-header-left">
          <h5>Files</h5>
          <p class="p-t-10 m-b-0 text-c-pink"></p>
        </div>
      </div>
      <div class="card-block">
        <i class="icofont icofont-ui-file st-icon bg-c-pink txt-lite-color"></i>

        <div class="text-left">
          <h3 class="d-inline-block">{{this.files}}</h3>
        </div>
        <div class="text-right">

          <a [routerLink]="['/app/filesDetail/', this.id]" class="d-inline-block">More details</a>
        </div>
      </div>
    </div>
  </div> -->
</div>